body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cabin', sans-serif;
}

.mainContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
   
}

/* .cityContainer  */
.city-cont-card{
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    border-top: 30px rgb(23, 144, 184) solid;
}

/* .placeContainer  */
.place-cont-card {
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    border-top: 30px rgb(228, 228, 227) solid;
}

/* celebrityContainer */
.celeb-cont-card {
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    border-top: 30px rgb(92, 156, 113) solid;
}

.card-infoBox {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.card-img {
    display: flex;
    /* width: 100%; */
    max-width: 250px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

.city-cont-card {
    /* display: flex; */
    background-color: rgb(23, 144, 184);  
}

/* .placeCard  */
.place-cont-card{
    /* display: flex; */
    background-color: rgb(228, 228, 227);  
}
.celeb-cont-card {
    /* display: flex; */
    background-color: rgb(92, 156, 113);
}

.text {
    display: flex;
    margin: 5px;
    padding: 5px;
}
h2 {
    margin: 2px;
}
h3 {
    padding: 5px;
    
}

footer {
    display: flex;
    background: lightgray;
    height: 5em;
    margin-top: 50px;
    padding: 10px;
    flex-direction: column-reverse;
}
