

body {
    color: bisque;
    background-color: rgb(5, 7, 10);
}


.mainContainer {
    /* border: black dotted 1px; */
    display: flex;
    margin: 0 0;

    justify-content: space-between;
    background-color: rgb(5, 7, 10);
}

.container {
    border-right: bisque solid 20px;
    padding-right: 10px;
    /* border: green dotted 5px; */
    margin: 20px;
    /* justify-content: space-evenly; */
    flex: 1 1 33%;
    background-color: rgb(5, 7, 10);
}

.cont-card {
    display: flex;
}

.card-infoBox h3 {
    margin-bottom: 5px;
    /* border: goldenrod dotted 1px;  */
}

.card-infoBox p {
    /* border: goldenrod dotted 1px;  */
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    margin-top: 5px;
} 

.card-imgBox {
    /* display: flex; */
    background-color: bisque;
    width: 250px;
    height: 166px;
    margin: 10px;
}

.card-img {
    /* flex: 1 1 25%; */
    width: inherit;
    height: inherit;
}
footer {
    display: flex;
    background: rgb(5, 7, 10);
    text-align: center;
}

@media (max-width: 1400px) {
    /* --------- rearrange screen when window is medium width ---------- */
    .cont-card {
        display: block;
    }

    .card-infoBox h3 {
        margin-top: 10px;
        /* border: goldenrod dotted 1px;  */
    }
}

@media (max-width: 1020px) {
    /* --------- rearrange screen when window is small ---------- */

    .mainContainer {
        /* border: black dotted 20px; */
        /* display: flex; */
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: space-between;
        flex-direction: column;
    }

    .container {
        border-width: 50px;
        margin-right: 5%;
    }

    .cont-title {
        text-align: center;
    }

    .cont-card {
        display: flex;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 20px
    }

    .card-infoBox {
        margin-top: auto;
        margin-bottom: auto;
    }
}